<h1>Customize your bubble tea</h1>
    
<%=form_for @tea, url: teas_path, method: :post do |f|%> 
<%=f.label(:name)%>
<%=f.text_field(:name)%><br>

<%=f.label(:flavor)%>
<%=f.text_field(:flavor)%><br>

<%=f.fields_for(:tea_ingredients) do |ff|%>
<%=ff.label(:ingredient) %>
<%=ff.select(:ingredient_id ,options_for_select(@ingredients.collect{ |i| [i.name, i.id] }) )%>
<%=ff.label(:amount)%>
<%=ff.text_field(:amount)%><br>
<%end%>

<br>


  <%=f.submit "Create"%>
<%end%>









