<h1>Customize your bubble tea</h1>
    
<%=form_for @tea, url: teas_path, method: :post do |f|%> 
<%=f.label(:name)%>
<%=f.text_field(:name)%><br>

<%=f.label(:flavor)%>
<%=f.text_field(:flavor)%><br>

<%# <%=f. %> %>





  <%=f.submit "Create"%>
<%end%>









