<h1>My Boba</h1>


<% @user.teas.each do |t|%>
<p>Boba Name:
<%= t.name%> </p>
  <p>Boba Flavor:
  <%= t.flavor%>
  </p>
  

  <p>Boba Ingredients:
  <% t.tea_ingredients.each do |teaingredient| %>
  <%= teaingredient.ingredient.name%>
  Amount:
  <%=teaingredient.amount%></p>
 
    <%end%>
<%end%>

  
   
   <% if @user == current_user%>
   <%=link_to "Create new boba", new_user_tea_path(@tea)%>
    <%=link_to "Edit boba", edit_teas_path(@tea)%>
    <%=link_to "Delete boba", tea, method: :delete%>
    <%end%>
  </div>

<p>Total Posts: <%= @user.teas.count %></p>

