<h1>My Boba</h1>

<h3>Boba Name:</h3>
<h4><%=@users.tea.each do |b|%>
    Name:<%=tea.name%>
    Ingredients:<%=tea.ingredients%>
    Amount:<%=tea.ingredients.amount%>
    <%end%>






<button><%= link_to "Log In", login_path, method: :delete%></button>

